@use '../../../styles/theme/variables' as theme;

.centerContainer {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: theme.$color-background-light;
}
