@use '../../../styles/theme/variables' as theme;

.card {
  background-color: theme.$color-background;
  border-radius: theme.$border-radius-md;
  box-shadow: theme.$shadow-card;
}

.cardBordered {
  border: theme.$border-width solid theme.$color-border;
  border-radius: theme.$border-radius-md;
  background-color: theme.$color-background-card;
}
